
/*Styling for LOverall table*/
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

/*Styling for the table header and table data*/
th, td {
    text-align: left;
    padding: 8px;
}

/*Making alternate rows grey to make appearance better*/
tr:nth-child(even){background-color: #f2f2f2}

/*Background color and text color for the header of the table*/
th {
    background-color: #4CAF50;
    color: white;
}